body {
    background-color: lightgreen ;
    color: black ;
    font-family: Comic Sans ;
}

.qwe1{
   display: flex;
   justify-content: center;
   font-size: 20px ;
   background-color: rgb(0, 128, 68) ;
   height: 300px ;
}
header p{
   text-align: center;

}
.qwe2{
   display: flex;
   justify-content: center;
   font-size: 20px ;
   background-color: rgb(170, 128, 37) ;
   height: 341px ;
}
.qwe3{
   display: flex;
   justify-content: center;
   font-size: 20px ;
   background-color: rgba(11, 52, 141, 0.658) ;
   height: 341px ;
   border: 10px double black ;
   
}
.rama{
   border: 5px double rgba(11, 52, 141, 0.658);
}
.navig{
   display: flex;
   justify-content: center;

}
.navig a{
  padding-top: 100px;
  margin: 30px;

}
.qwe4 {
   background-color: rgb(144, 182, 7);
   border: 10px dotted rgb(0, 0, 0);
   font-size: 20px ;
   display: flex;
}
.qwe5 {
   background-color: rgb(6, 207, 243);
   border: 10px dashed rgb(83, 75, 75);
   font-size: 20px ;
   display: flex;
   }
.qwe6 {
   background-color: rgb(136, 39, 139);
   border: 10px double rgb(40, 22, 46);
   display: flex ;
   font-size: 20px ;
}
.qwe7 {
   background-color: rgb(34, 209, 157);
   border: 10px dashed rgb(40, 22, 46);
   display: flex ;
   font-size: 20px ;
}
.qwe8 {
   background-color: rgb(28, 10, 165);
   border: 15px double rgb(7, 86, 17);
   display: flex ;
   font-size: 20px ;
}
.qwe9 {
   text-align: center;
   font-size: 30px;
   background-color: rgb(5, 22, 77);
}
